[submodule ".vim/bundle/vim-ack"]
	path = .vim/bundle/vim-ack
	url = git@github.com:mileszs/ack.vim.git
[submodule ".vim/bundle/vim-fugitive"]
	path = .vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule ".vim/bundle/vim-dispatch"]
	path = .vim/bundle/vim-dispatch
	url = https://github.com/tpope/vim-dispatch
[submodule ".vim/bundle/vim-ragtag"]
	path = .vim/bundle/vim-ragtag
	url = https://github.com/tpope/vim-ragtag
[submodule ".vim/bundle/vim-unimpaired"]
	path = .vim/bundle/vim-unimpaired
	url = https://github.com/tpope/vim-unimpaired
[submodule ".vim/bundle/vim-git"]
	path = .vim/bundle/vim-git
	url = https://github.com/tpope/vim-git
[submodule ".vim/bundle/vim-eunuch"]
	path = .vim/bundle/vim-eunuch
	url = https://github.com/tpope/vim-eunuch
[submodule ".vim/bundle/vim-coffee-script"]
	path = .vim/bundle/vim-coffee-script
	url = https://github.com/kchmck/vim-coffee-script
[submodule ".vim/bundle/vim-tomdoc"]
	path = .vim/bundle/vim-tomdoc
	url = git@github.com:duwanis/tomdoc.vim.git
[submodule ".vim/bundle/vim-syntastic"]
	path = .vim/bundle/vim-syntastic
	url = git@github.com:scrooloose/syntastic.git
[submodule ".vim/bundle/vim-pathogen"]
	path = .vim/bundle/vim-pathogen
	url = git@github.com:tpope/vim-pathogen.git
[submodule ".vim/bundle/vim-surround"]
	path = .vim/bundle/vim-surround
	url = git@github.com:tpope/vim-surround.git
[submodule ".vim/bundle/vim-repeat"]
	path = .vim/bundle/vim-repeat
	url = git@github.com:tpope/vim-repeat.git
[submodule ".vim/bundle/vim-markdown"]
	path = .vim/bundle/vim-markdown
	url = git@github.com:tpope/vim-markdown.git
[submodule ".vim/bundle/vim-tcomment"]
	path = .vim/bundle/vim-tcomment
	url = git@github.com:tomtom/tcomment_vim.git
[submodule ".vim/bundle/vim-ruby"]
	path = .vim/bundle/vim-ruby
	url = git@github.com:vim-ruby/vim-ruby.git
[submodule ".vim/bundle/vim-javascript"]
	path = .vim/bundle/vim-javascript
	url = git@github.com:pangloss/vim-javascript.git
[submodule ".vim/bundle/vim-nerdtree"]
	path = .vim/bundle/vim-nerdtree
	url = git@github.com:scrooloose/nerdtree.git
[submodule ".vim/bundle/vim-css3-syntax"]
	path = .vim/bundle/vim-css3-syntax
	url = git@github.com:hail2u/vim-css3-syntax.git
[submodule ".vim/bundle/vim-ctrlp"]
	path = .vim/bundle/vim-ctrlp
	url = git@github.com:kien/ctrlp.vim.git
[submodule ".vim/bundle/theme-shady"]
	path = .vim/bundle/theme-shady
	url = git@github.com:cloudhead/shady.vim.git
[submodule ".vim/bundle/vim-expand-region"]
	path = .vim/bundle/vim-expand-region
	url = git@github.com:terryma/vim-expand-region.git
[submodule ".vim/bundle/vim-editorconfig"]
	path = .vim/bundle/vim-editorconfig
	url = git@github.com:editorconfig/editorconfig-vim.git
[submodule ".vim/bundle/vim-ag"]
	path = .vim/bundle/vim-ag
	url = git@github.com:vim-scripts/ag.vim.git
[submodule ".vim/bundle/vim-textobj-function-javascript"]
	path = .vim/bundle/vim-textobj-function-javascript
	url = git@github.com:thinca/vim-textobj-function-javascript.git
[submodule ".vim/bundle/vim-javascript-syntax"]
	path = .vim/bundle/vim-javascript-syntax
	url = git@github.com:jelera/vim-javascript-syntax.git
