[user]
  name=Aron Carroll
  email=self@aroncarroll.com

[branch]
  autosetupmerge=true

[push]
	default = current

[alias]
  co=checkout
  cb=checkout -b
  cl=checkout @{-1}
  cc=checkout-clean
  br=branch
  ci=commit
  st=status -sb
  sf=status
  unstage=reset HEAD --
  last=log -1 HEAD
  diff=diff --color
  di=diff --color
  dw=diff --word-diff --color
  dt=difftool
  dl=branch -D @{-1}
  re=rebase
  logb=log -10 --pretty=oneline --decorate
  log=log -10 --pretty=oneline
  lg=log --pretty=format:'%C(yellow)%h%Creset %s %C(bold black)(%cr by %C(magenta bold)%aN%C(bold black))%Creset' -10 --abbrev-commit
  cii=commit --interactive,
  ln=symbolic-ref
  ls=ls-files
  pop=stash pop
  pull=pull --no-commit --no-ff
  pullff=pull --no-commit
  recommit=commit --amend --no-edit
  tag=tag -n1
  patch=diff --no-prefix
  ml=merge @{-1} --ff-only
  mlnf=merge @{-1} --no-ff
  tagg=tag -n1

[core]
  # editor=open -eWn                                          # TextEdit
  # editor=mate --name 'Git Commit Message' -w -l1          # TextMate 2
  # editor=mate -w -l1                                      # TextMate
  # editor=vim -f +1 -c '"start! | au VimLeave * maca hide: | A"' # MacVim
  editor=vim -f +1 -c start!
  autocrlf=input
  excludesfile=~/.gitignore

[merge]
  tool=mvim

[mergetool "mvim"]
  cmd=mvim -d -g $LOCAL $MERGED $REMOTE
  keepbackup=false

[difftool "Kaleidoscope"]
  cmd=ksdiff --partial-changeset --relative-path \"$MERGED\" -- \"$LOCAL\" \"$REMOTE\"

[difftool]
  prompt=false

[diff]
  tool=Kaleidoscope

[mergetool "Kaleidoscope"]
  cmd=ksdiff --merge --output \"$MERGED\" --base \"$BASE\" -- \"$LOCAL\" \"$REMOTE\"

[mergetool]
  prompt=false

[merge]
  tool=Kaleidoscope

[color]
  branch=auto
  diff=auto
  status=auto

[color "branch"]
  current=yellow reverse
  local=yellow
  remote=green

[color "diff"]
  meta=yellow bold
  frag=magenta bold
  old=red bold
  new=green bold

[color "status"]
  added=yellow
  changed=green
  untracked=cyan

[mailmap]
  file=~/.mailmap

[help]
  autocorrect=-1

[gist] # https://github.com/defunkt/gist
  private=yes
  browse=yes

[github]
  user=aron
  password=!security 2>&1 >/dev/null find-generic-password -gs github.password | ruby -e 'print $1 if STDIN.gets =~ /^password: \\\"(.*)\\\"$/'
[mergetool "Kaleidoscope"]
  cmd = ksdiff --merge --output \"$MERGED\" --base \"$BASE\" -- \"$LOCAL\" --snapshot \"$REMOTE\" --snapshot
  trustExitCode = true
