snippet doc "TomDoc Block"
# ${1:Public: }${2:title}
${3:#
# ${4:param} - ${5:comment}
}#
${6:# Examples
#
#   ${7:example}
#
}# Returns ${8}
endsnippet

snippet puts "console.log"
console.log(${1:"${2:log}"})$0
endsnippet

